@import '../../../utilities/styles/vars';

.Select {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__options {
    padding: 10px;
    border: 1px solid $color-light;
    margin-left: 50px;
  }
}
