@import '../../utilities/styles/vars';

.Form {
  color: $color-dark;
  min-height: 290px;

  &__wrapper {
    width: 100%;
    margin-bottom: 10px;
    height: 90px;

    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      > button {
        margin: 0 5px;
      }
    }
  }

  &__field {
    display: block;
    width: 100%;
    border: 1px solid $color-light;
    padding: 15px 30px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }

  &__error {
    color: $color-accent;
    transition: all 0.2s;

    > i {
      font-size: 20px;
      margin-right: 10px;
    }

    &-form {
      color: $color-accent;
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__loader {
    margin-top: -25px;
  }
}
