@import '../../../utilities/vars';

.Saved {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  &__cards {
    width: 40%;
    height: 100%;
    padding: 20px;
    border-right: 2px solid $color-border;
    overflow-y: auto;
  }

  &__reader {
    width: 60%;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
  }

  &__image {
    width: 100%;
    height: 50%;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-color: $color-dark;
  }

  &__info {
    padding: 1em 2em;
    i {
      font-size: 1.5em;
    }
  }

  &__closeBtn {
    display: none;
  }

  &__message {
    font-size: 1.5em;
    margin-top: 1em;
    position: relative;
    text-align: center;
    left: 50%;
    width: 800px;
    transform: translate(-50%);
    background: no-repeat url('./saved.svg') center;
  }

  &__source {
    color: $color-text-secondary;
    margin-right: 10px;
  }

  &__title {
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 0.5em;
    margin-top: auto;
    color: #fff !important;
  }

  &__description {
    font-size: 20px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 1em;
  }

  &__comments {
    margin-top: 2em;
    > span {
      font-size: 26px;
      font-weight: 600;
    }
    > i {
      color: $color-border;
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 900px) {
    &__cards {
      width: auto;
    }

    &__reader {
      display: none;
      position: absolute;
      width: 100%;
      &.active {
        display: block;
      }
    }

    &__info {
      margin-bottom: 5em;
      background-color: #fff;
    }

    &__closeBtn {
      display: block;
      position: absolute;
      top: 2em;
      color: $color-accent;
    }
  }
}
