$color-dark: #1B1B2F;
$color-background: rgb(24, 24, 24);
$color-accent: #E43F5A;
$color-accent-light: rgb(231, 125, 142);
$color-light: #ADCCF1;
$color-text-secondary:#707070;
$color-text-light:#dbdbdb;
$color-border:#a8a8a8;