$color-dark: #1B1B2F;
$color-background: rgb(24, 24, 24);
$color-accent: #E43F5A;
$color-accent-light: rgb(231, 125, 142);
$color-light: #ADCCF1;
$color-background-light: #e5ebf1;
$color-text-secondary:#707070;
$color-text-light:#adadad;
$color-border:#e0e0e0;