@import '../../utilities/vars';

.Social {
  color: $color-background-light;
  font-size: 2em;

  > button {
    margin: 5px;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:nth-last-child() {
      margin-right: 0;
    }
    > i:hover {
      transition: color 0.3s;
      color: $color-accent;
    }
  }
}
