@import '../../utilities/styles/vars';

.Search {
  width: 300px;
  border: 1px solid $color-light;
  border-radius: 10px;
  height: 100%;
  padding: 7px 20px;

  > input {
    color: $color-text-secondary;
    &::placeholder {
      color: $color-text-secondary;
    }
  }

  > button {
    width: 60px;
    cursor: pointer;
    border-left: 1px solid $color-light;
    > i {
      color: $color-light;
      transition: all 0.2s;
    }

    &:hover {
      > i {
        color: $color-accent;
        transform: scale(1.2);
      }
    }
  }

  @media screen and (max-width: 900px) {
    padding: .7em 1em;
    margin-bottom: 1em;
    width: 100%;

    > input {
      padding: 0;
    }
  }
}
