@import '../../utilities/vars';

.Comments {
  max-width: 600px;

  &__loader {
    min-height: 80px;
  }

  &__field {
    margin-top: 1em;
  }

  &__input {
    border: 1px solid $color-light;
    padding: 1em;
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1em;
    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }
}
