@import './utilities/reset.scss';
@import './utilities/vars';

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Open-sans', sans-serif;
  color: $color-dark;
  font-size: 16px;
  & h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: $color-accent;
  }

  &.light {
    & a {
      & > span {
        color: $color-dark;
      }
    }
  }

  &.dark {
    background-color: $color-background;
    & a {
      & > span {
        color: $color-text-light;
      }
    }
    & label {
      color: $color-text-light;
    }

    & input {
      color: $color-light;
    }

    & .background-masker {
      background: $color-background;
    }
  }
}
