@import './utilities/styles/animations.scss';
@import './utilities/styles/reset.scss';
@import './utilities/styles/tooltip.css';
@import './utilities/styles/vars.scss';

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  color: $color-dark;
  font-size: 16px;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: $color-accent;
  }

  &.light {
    a {
      > span {
        color: $color-dark;
      }
    }
  }

  &.dark {
    background-color: $color-background;
    
    span {
        color: $color-text-light;
      }
    
    h2 {
      color: #fff;
    }

    label {
      color: $color-text-light;
    }

    textarea {
      background-color: $color-background;
      color: $color-text-light;
    }

    input {
      color: $color-light;
    }

    .background-masker {
      background: $color-background;
    }
  }
}
